<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" >
<head>
  <th:block th:replace="_parts/head :: meta"/>
  <title>Registration of customer is completed.</title>
  <th:block th:replace="_parts/head :: css"/>
</head>
<body>

<main>
  <article>
    <h1>Registration of customer is completed.</h1>
    <form id="customer" action="#" th:object="${customer}">

      <label for="customerNumber">Customer Number</label>
      <p id="customerNumber" th:text="*{customerNumber.value}" />

      <label for="customerName">Name</label>
      <p id="customerName" th:text="*{customerName.value}" />

      <label for="birthdate">BirthDate</label>
      <p id="birthdate" th:text="*{birthdate.value}" />

    </form>
  </article>
</main>
</body>
</html>
