<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" >
<head>
  <th:block th:replace="_parts/head :: meta"/>
  <title>Registration of customer</title>
  <th:block th:replace="_parts/head :: css"/>
</head>
<body>

<main>
  <article>
    <h1>Registration of customer</h1>
    <form method="post" action="#"
          th:object="${form}" th:action="@{${form.actionPath}}">

      <ul th:if="${#fields.hasGlobalErrors()}">
        <li th:each="err : ${#fields.globalErrors()}" th:text="${err}"></li>
      </ul>

      <label>Name</label>
      <input id="customerName" type="text" th:field="*{customerName.value}">
      <p th:if="${#fields.hasErrors('customerName.value')}">
        <mark><span id="customerNameError" th:errors="*{customerName.value}"></span></mark>
      </p>

      <label>Birthdate</label>
      <input id="birthdate" type="date" th:field="*{birthdate.value}">
      <p th:if="${#fields.hasErrors('birthdate.value')}">
        <mark><span id="birthdateError" th:errors="*{birthdate.value}"></span></mark>
      </p>

      <div>
        <button id="registerButton">Register</button>
      </div>
    </form>
  </article>
</main>
</body>
</html>
